---
import type { Book, BookList as BookListType } from '../data/books';
import BookCard from './BookCard.astro';
import { sampleBooks } from '../data/books';

export interface Props {
  list: BookListType;
}

const { list } = Astro.props;

const booksInList: Book[] = sampleBooks.filter(book => list.bookIds.includes(book.id));
---

<div class="mb-8 p-4 border border-border rounded-lg bg-card">
  <h2 class="text-2xl font-semibold mb-4 pb-2 border-b border-border text-card-foreground">{list.name}</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {booksInList.map((book) => (
      <BookCard  book={book} />
    ))}
  </div>
</div>