---
import "../styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Libros que todos deberian leer</title>
	</head>
	<body class="bg-background text-foreground">
		<slot />
	</body>
</html>

<style>
	html {

		overflow-y: scroll;
		height: 100%;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}

</style>
